@use "../../styles/colors";
@use "../../styles/text-styles";
@use "../../styles/variables" as *;

.productPage {
  padding: 86px 16px;

  .content {
    max-width: $content-max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "images title"
      "images price"
      "images details"
      "suggestions suggestions";
    column-gap: 7.25rem;

    .title {
      grid-area: title;
      display: grid;

      .brand {
        @include text-styles.small-text;
      }

      .productTitle {
        @include text-styles.product-title;
      }

      .rating {
        display: flex;
        gap: 0.62rem;
        align-items: center;

        .ratingText {
          @include text-styles.small-text;
          color: colors.$black-50;
        }
      }
    }

    .images {
      grid-area: images;
      align-self: start;
    }

    .details {
      grid-area: details;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      margin-top: 2.5rem;

      .priceContainer {
        .prices {
          display: flex;
          gap: 0.62rem;
          align-items: center;

          .finalPrice {
            @include text-styles.product-title;
          }

          .originalPrice {
            @include text-styles.small-text;
            color: colors.$black-50;
            text-decoration: line-through;
          }
        }

        .discount {
          display: inline-block;
          @include text-styles.small-text;
          margin-top: 0.25rem;
          color: colors.$white;
          background-color: colors.$primary;
          padding: 0.25rem 0.62rem;
          border-radius: 6.25rem;
        }
      }

      .addProductDialog {
        width: 100%;
      }

      .specs {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;

        & > *:first-child {
          flex: 1 1 auto;
        }

        & > *:last-child {
          flex: 2 1 auto;
        }
      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
      }
    }

    .suggestions {
      grid-area: suggestions;
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .suggestionsHeader {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .title {
          @include text-styles.heading-2;
        }
      }
    }
  }
}

// TODO: Change width later
@media (max-width: 700px) {
  .productPage {
    padding: 8px;

    .content {
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "images"
        "details"
        "suggestions";
      row-gap: 2rem;
    }
  }
}
