.resultsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin: 64px 0 86px 0;

  // Pending: Define columns
  .results {
    max-width: 987.984px;
    width: 100%;
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    padding: 0 16px;
    justify-items: center;
  }
}
