@use "../../styles/colors";
@use "../../styles/text-styles";

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;

  .remove {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;

    svg {
      stroke: colors.$danger;
    }
  }

  &:hover .remove {
    display: block;
  }

  .title {
    @include text-styles.small-text;
    text-align: center;
  }
}
