@use "../../styles/colors";
@use "../../styles/text-styles";

.product {
  display: grid;
  grid-template-columns: 1fr max-content min-content;
  grid-template-areas: "details quantity total";
  align-content: center;
  align-items: center;
  gap: 16px;
  min-width: 440px;

  .details {
    grid-area: details;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "img titleAndBrand";
    align-items: center;
    row-gap: 4px;

    img {
      grid-area: img;
      width: 128px;
    }

    .titleAndBrand {
      grid-area: titleAndBrand;
      display: flex;
      flex-direction: column;
      align-items: start;

      .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .brand {
        @include text-styles.small-text;
      }
    }
  }

  .quantity {
    grid-area: quantity;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    width: 100%;
    gap: 16px;

    .remove {
      svg {
        width: 20px;
        height: 20px;
        stroke: colors.$danger;
      }
    }
  }

  .total {
    grid-area: total;
    min-width: 64px;
    width: 100%;
    text-align: right;
  }
}

// Remove min-width on mobile to avoid overflow
@media (max-width: 768px) {
  .product {
    min-width: 0;
  }
}

// Stack product info vertically (product, quantity, total) on mobile
@media (max-width: 550px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, max-content);
    justify-items: center;
    grid-template-areas: "details" "quantity" "total";

    .quantity {
      max-width: 200px;
    }

    .total {
      text-align: center;
    }
  }
}

// Stack product details vertically (image, title, brand, price) on mobile
@media (max-width: 350px) {
  .product {
    .details {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content;
      grid-template-areas: "img" "titleAndBrand";
      justify-items: center;

      .titleAndBrand {
        align-items: center;
      }
    }
  }
}
