$primary: #30736d;
$primary-75: #30736dbf;
$primary-50: #30736d80;
$primary-25: #30736d40;
$primary-10: #30736d1a;
$primary-05: #30736d0d;
$black: #151720;
$black-75: #151720bf;
$black-50: #15172080;
$black-25: #15172040;
$black-10: #1517201a;
$black-05: #1517200d;
$white: #fefefe;
$white-75: #fefefebf;
$white-50: #fefefe80;
$white-25: #fefefe40;
$white-10: #fefefe1a;
$white-05: #fefefe0d;
$cart-backdrop: #2b2f369c;
$danger: #d24760;
