@use "./colors";
@use "./text-styles";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  @include text-styles.body-text;
  scroll-behavior: smooth;
}

body {
  background-color: colors.$white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
