@use "../../styles/colors";
@use "../../styles/text-styles";
@use "../../styles/variables" as *;

.home {
  .hero .content,
  .features .content,
  .products .content,
  .categories .content,
  .newsletter .content {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  .features,
  .products,
  .categories,
  .newsletter {
    padding: $content-vertical-padding $content-horizontal-padding;
  }

  .hero,
  .newsletter {
    background-color: colors.$black-75;
    color: colors.$white;
  }

  .hero .content,
  .newsletter .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .products .content .title,
  .categories .content .title,
  .newsletter .content .title {
    @include text-styles.heading-2;
    text-align: center;
  }

  .hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content .title {
      @include text-styles.heading-1;
    }
  }

  .features {
    .content {
      display: flex;
      gap: 64px;
    }
  }

  .products {
    .content {
      display: flex;
      flex-direction: column;
      gap: 96px;

      .title {
        margin-bottom: 2rem;
      }

      .sectionAndCarousel {
        display: flex;
        gap: 64px;

        & > *:first-child {
          width: 35%;
        }

        & > *:last-child {
          width: calc(100% - 35%);
        }
      }

      .sectionAndCarousel.inverted {
        flex-direction: row-reverse;
      }
    }
  }

  .categories {
    .content {
      .title {
        margin-bottom: 2rem;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
        height: 44rem;

        & > * {
          &:nth-child(1) {
            grid-area: 1 / 1 / span 2 / span 2;
          }

          &:nth-child(4) {
            grid-area: 1 / 4 / span 2 / span 1;
          }

          &:nth-child(7) {
            grid-area: 3 / 3 / span 1 / span 2;
          }
        }
      }
    }
  }

  .newsletter {
    .content .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      max-width: 30rem;
      width: 100%;
    }
  }
}
