@use "../../styles/colors";
@use "../../styles/text-styles";
@use "../../styles/variables" as *;

.home {
  .hero {
    padding: 7.62rem 0.62rem;
    background-color: colors.$black-75;
    color: colors.$white;

    .content {
      max-width: $content-max-width;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .title {
        @include text-styles.heading-1;
      }
    }
  }

  .products {
    padding: 4rem 0;

    .content {
      max-width: $content-max-width;
      margin: 0 auto;

      .title {
        @include text-styles.heading-2;
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }

  .categories {
    padding: 4rem 0;

    .content {
      max-width: $content-max-width;
      margin: 0 auto;

      .title {
        @include text-styles.heading-2;
        text-align: center;
        margin-bottom: 2rem;
      }

      .categoriesList {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      }
    }
  }

  .newsletter {
    padding: 4rem 0;
    background-color: colors.$black-75;
    color: colors.$white;

    .content {
      max-width: $content-max-width;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .title {
        @include text-styles.heading-2;
        text-align: center;
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        max-width: 30rem;
        width: 100%;

        input {
          flex: 1;
          padding: 0.62rem;
          border: 1px solid colors.$black-50;
          border-radius: 0.62rem;
        }
      }
    }
  }
}
