@use "../../styles/colors";
@use "../../styles/text-styles";
@use "../../styles/variables" as *;

.home {
  .hero .content,
  .features .content,
  .products .content,
  .categories .content,
  .newsletter .content {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  .features,
  .products,
  .categories,
  .newsletter {
    padding: $content-vertical-padding $content-horizontal-padding;
  }

  // TODO: Remove later
  .hero {
    background-color: colors.$black-75;
    color: colors.$white;
  }

  .hero .content,
  .newsletter .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .products .content .title,
  .categories .content .title,
  .newsletter .content .title {
    @include text-styles.heading-2;
    text-align: center;
  }

  .hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      text-align: center;
      padding: 0 16px;

      .title {
        @include text-styles.heading-1;
      }

      .heroButton {
        &:hover {
          background-color: colors.$white-10;
        }
      }
    }
  }

  .features {
    .content {
      display: flex;
      gap: 64px;
    }
  }

  .products {
    .content {
      .title {
        margin-bottom: 32px;
      }

      .productsGroup {
        display: flex;
        flex-direction: column;
        gap: 96px;

        .sectionAndCarousel {
          display: flex;
          gap: 64px;

          & > *:first-child {
            width: 35%;
          }

          & > *:last-child {
            width: calc(100% - 35%);
          }
        }

        .sectionAndCarousel.inverted {
          flex-direction: row-reverse;
        }
      }
    }
  }

  .categories {
    .content {
      .title {
        margin-bottom: 32px;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
        height: 704px;

        & > * {
          &:nth-child(1) {
            grid-area: 1 / 1 / span 2 / span 2;
          }

          &:nth-child(4) {
            grid-area: 1 / 4 / span 2 / span 1;
          }

          &:nth-child(7) {
            grid-area: 3 / 3 / span 1 / span 2;
          }
        }
      }
    }
  }

  .newsletter {
    position: relative;
    overflow: hidden;

    .background {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background: url("../../assets/background/home/newsletter.jpg") no-repeat
        center center;
      aspect-ratio: 16 / 9;
      z-index: 0;
      filter: brightness(45%);
    }

    .content {
      .title,
      .description {
        z-index: 1;
        color: colors.$white;
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-width: 480px;
        width: 100%;

        .subscribeButton {
          &:hover {
            background-color: colors.$white-10;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .features .content {
      flex-direction: column;
      gap: 32px;
    }

    .categories .content .grid {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
}

@media (max-width: 632px) {
  .home {
    .products .content {
      .sectionAndCarousel,
      .sectionAndCarousel.inverted {
        flex-direction: column;

        & > *:first-child {
          width: 100%;
        }

        & > *:last-child {
          width: 100%;
        }
      }
    }
  }
}
