@use "../../styles/colors";
@use "../../styles/text-styles";

.product {
  max-width: 140px;
  min-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.08px;
  cursor: pointer;
  user-select: none;

  img {
    height: 140px;
  }

  .titleContainer {
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .title {
      @include text-styles.small-text;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .priceContainer {
    display: flex;
    gap: 9.92px;

    .discount {
      @include text-styles.small-text;
      color: colors.$primary;
    }
  }
}
