@use "../../styles/colors";
@use "../../styles/text-styles";
@use "../../styles/variables" as *;

.cart {
  flex: 1;
  padding: 86px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    margin: 0 auto;
    max-width: $content-max-width;
    width: 100%;

    .cartContent {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "title title" "product summary";
      gap: 8px 24px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .title {
        grid-area: title;
        @include text-styles.heading-1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .products,
      .summary {
        border: 1px solid colors.$black-10;
        padding: 24px;
        border-radius: 16px;
      }

      .products {
        grid-area: product;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
      }

      .summary {
        grid-area: summary;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;

        .summaryItems {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .summaryItem,
          .totalItem {
            display: flex;
            align-items: center;

            .title {
              @include text-styles.small-text;
              flex: 1;
            }

            .subtitle {
              @include text-styles.body-text;
            }
          }

          .totalItem {
            .subtitle {
              @include text-styles.price-text;
            }
          }
        }
      }
    }

    .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      color: colors.$black-50;

      .icon svg {
        width: 48px;
        height: 48px;
        stroke: colors.$black-50-solid;
      }

      .title {
        @include text-styles.error-title;
      }
    }
  }
}

@media (max-width: 768px) {
  .cart {
    padding: 16px;

    .content {
      .cartContent {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
          "title"
          "product"
          "summary";
        gap: 16px 0;

        .products {
          grid-area: product;
        }

        .summary {
          grid-area: summary;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .cart .content .cartContent .products {
    gap: 32px;
  }
}
