@use "../../styles/colors";
@use "../../styles/text-styles";
@use "../../styles/variables" as *;

.mainHeader {
  background-color: colors.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;

  .content {
    display: flex;
    flex: 1;
    max-width: $content-max-width;
    justify-content: space-between;

    .headerNav {
      display: flex;
      align-items: center;
      gap: 5.735rem;

      .brand {
        @include text-styles.brand-text;
      }

      .navLinks {
        display: flex;
        align-items: center;
        gap: 3rem;
      }
    }

    .actions {
      display: flex;
      gap: 1rem;

      .cart {
        position: relative;

        .size {
          @include text-styles.small-text;
          position: absolute;
          top: 0;
          right: 0;
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: colors.$primary;
          border-radius: 100%;
          color: colors.$white;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .mainHeader .content .headerNav .navLinks {
    display: none;
  }
}
