@use "../../styles/colors";
@use "../../styles/text-styles";
@use "../../styles/variables" as *;

.mainHeader {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  // Avoid header to be behind the content (for example, chakra buttons)
  z-index: 1;

  .content {
    display: flex;
    flex: 1;
    max-width: $content-max-width;
    justify-content: space-between;

    .headerNav {
      display: flex;
      align-items: center;
      gap: 5.735rem;

      .brand {
        @include text-styles.brand-text;
      }

      .navLinks {
        display: flex;
        align-items: center;
        gap: 3rem;
      }
    }

    .actions {
      display: flex;
      gap: 1rem;

      .cart {
        position: relative;

        .size {
          @include text-styles.small-text;
          position: absolute;
          top: 0;
          right: 0;
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: colors.$primary;
          border-radius: 100%;
          color: colors.$white;
          cursor: pointer;
        }
      }
    }
  }
}

.mainHeader.landing {
  color: colors.$white;
  background: none;

  svg {
    stroke: colors.$white;
  }
}

// Set white header when is a normal header, or when is a landing header and the user hovers it
.mainHeader,
.mainHeader.landing:hover,
.mainHeader.landing.scrolled {
  background-color: colors.$white;
  color: colors.$black;

  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  svg {
    stroke: colors.$black;
    transition: stroke 0.25s ease-in-out;
  }
}

// Show drop shadow only when header is scrolled
.mainHeader.scrolled {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .mainHeader .content .headerNav .navLinks {
    display: none;
  }
}
