@use "../../styles/colors";

.productsCarousel {
  display: flex;
  align-items: center;
  gap: 32px;

  .arrow {
    background-color: colors.$black-10;
    border-radius: 100%;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: colors.$black-05;
    }

    &:active {
      background-color: colors.$black-25;
    }
  }
}

@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}
