@use "../../styles/colors";

.productsCarousel {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 64px;

  // TODO: Set to grid to better positions the products
  .products {
    width: 100%;
    display: flex;
    gap: 2.5rem;
  }

  .arrow {
    background-color: colors.$black-10;
    border-radius: 100%;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: colors.$black-05;
    }

    &:active {
      background-color: colors.$black-25;
    }
  }
}
