@use "../../styles/colors";
@use "../../styles/text-styles";

.searchContainer {
  display: flex;
  flex-direction: column;

  .titleContainer {
    background-color: colors.$primary;
    color: colors.$white;
    padding: 5.38rem 0;
    text-align: center;

    .title {
      @include text-styles.heading-1;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;

    & > * {
      flex: 1;
    }
  }
}
