@use "../../styles/text-styles";
@use "../../styles/variables" as *;

.error {
  flex: 1;
  padding: 86px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    margin: 0 auto;
    max-width: $content-max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;

    .title {
      @include text-styles.error-title;
    }
  }
}
