@use "../../styles/colors";
@use "../../styles/text-styles";
@use "../../styles/variables" as *;

.mainFooter {
  background-color: colors.$black-05;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    max-width: $content-max-width;
    align-items: center;

    .brand {
      @include text-styles.brand-text;
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    .importantLinks {
      display: flex;
      justify-content: center;
      gap: 1.25rem;

      & > * {
        position: relative;
        padding-left: 1.25rem;

        &::before {
          content: "•";
          position: absolute;
          left: 0;
          color: colors.$black-50;
        }

        &:first-child::before {
          content: "";
        }
      }
    }

    .copyright {
      @include text-styles.small-text;
    }
  }
}

@media (max-width: 504px) {
  .mainFooter .content .importantLinks {
    flex-direction: column;
    gap: 0.75rem;
  }
}

@media (max-width: 380px) {
  .mainFooter .content .socials {
    flex-direction: column;
    gap: 0.75rem;
  }
}
